html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}


.main-container{
max-width: 100vw; 
width: 100%;

background-color: #1e2327;
}

.layout{
  background-color: #1e2327;
  color: rgb(156, 63, 63);
}


/* MENU STYLING */
.item-type-container {
  height: 35vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  border: 10px;
}

#light {
  background-color:  rgb(61, 57, 57);
}

#dark {
  background-color: #1e2327;
}

.menu-image {
  height: 80%;
}

.item-type-banner {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  font-weight: 700;
  font-variant: small-caps;
  background-color: rgb(151, 76, 76);
  letter-spacing: 1rem;
}

.container-left {
  display: flex;
  flex-direction: column;
  width:30%;
}

.container-right {
  width: 70%;
  height: auto;
}



/* NAVBAR STYLING */
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  padding-top: 3%;
  background-color: rgb(27, 25, 25);
  align-items: flex-end;
  height: 10%;
  width: 100%;
}

.logo {
  font-variant: small-caps;
  font-size: 150%;
  font-weight: 700;
}

.other-pages {
  display: flex;
  flex-direction: row;
  gap: 7%;
  margin-right: 4%;
  font-size: 150%;
  font-variant: small-caps;
}

.other-pages li {
  list-style: none;
}


.other-pages li:hover {
  color: red;
}

a.active {
  color: red;
}




/* PRODUCT STYLINH*/
.product-container {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  margin-bottom: 5%;
  border: 4px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  padding: 2%;
  background-color: #1e2327;
}

.product-image {
  border: 4px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
}

.item-name {
  font-size: 20px;
  margin-bottom: 2%;
  font-weight: 600;
}

.item-desc {
  width: 300px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  color: white;
}



/* FOOTER STYLING */
.footer-container {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-weight:800;
  margin-top: 3%;
}

.footer-right {
  margin-left: 2%;
}

.footer-left {
  border-right: 3px solid rgb(116, 112, 112);
}

.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 150%;
  width: 300px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 1%;
}

.footer-bottom {
  display: flex;
  flex-direction: row;

  justify-content: center;
  width: 700px;
  margin-bottom: 5%;
  gap: 3%;
}



/* CONTACT STYLING */

.contact-container {
 display: flex;
 flex-direction: row;
 justify-content: center;
 gap: 10%;
 margin-top: 7%;
 margin-bottom: 10%;
 padding: 1%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;

}

.info-fields {
  display: flex;
  flex-direction: row;

}

.info-fields1, .info-fields2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.info-fields1 {
  align-items: flex-start;
}

.info-fields2 {
  align-items: flex-end;
}


.inputs > input, textarea {
  background-color: #1e2327;
  border: solid 2px rgb(116, 112, 112);
  color: white;
  width: 100%;
  line-height:300%;
  font-size: 150%;
  margin-bottom: 7%;
}

.sub-btn {
  display: flex;
  justify-content: end;
}

#send {
  background-color: rgb(116, 112, 112);
  width: 20%;
  height: 150%;
}

#msg {
  width: 100%;
  margin-bottom: 2%;
}

.contact-container > h1 {
  font-size: 400%;
}

/* HEROBANNER STYLING */
.hero-banner-container {
  width: 100%;
  height: 50vw;

  border: solid 3px blue;
}

.banner-image {

  width: 100%;
  max-height: 100%;
}

.hero-banner-container > div {
  background-image: url('file:///C:/Users/Phoenix/OneDrive/Desktop/Photos/pizza/banner/banner.webp');
}

.hero-banner-title {

  top: 20%;
  left: 15%;
  font-size: 4vw;
  color: rgb(233, 227, 227);
  font-weight: 600;
  font-variant: small-caps;
}

.hero-banner-button {
  position: relative;
  top: 23%;
  left: 33%;
  background: none;
  color: rgb(151, 76, 76);
  border: rgb(151, 76, 76) 2px solid;
  border-radius: 30%;
  height: 6%;
  width: 10%;
  font-size: 100%;
  font-weight: 700;
  font-variant: small-caps;
}
 .hero-banner-button:hover {
  transform: scale(1.1,1.1);
  background-color: rgb(27, 25, 25);
  cursor: pointer;
 }

/*HOMEPAGE SYTLING */
.homepage-container {
  display: flex;
  flex-direction: column;
}


 /* CAROUSEL STYLING */
